<form action="/boats" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="crew">Crew Size</label>
    <input type="number" name="crew" id="crew">
    <label for="length">Length</label>
    <input type="number" name="length" id="length">
    <label for="private">Private Room?</label>
    <input type="checkbox" name="private" id="private">
    <input type="submit" value="submit">
    <label for="fishery">fishery</label>
    <select name="fishery" id="fishery">
        <option value="pollock cv">Pollock Catcher</option>
        <option value="pollock cp">Pollock Processor</option>
        <option value="amendment 80">Amendment 80</option>
        <option value="longline cod">Longline Cod</option>
        <option value="pot cod">Pot Cod</option>
        <option value="longline">Longline</option>
        <option value="sablefish">Sablefish</option>
        <option value=""></option>
    </select>
</form>